@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900');

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

/* HEADER SECTION */

header .container {
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1.5rem;
}

header .logo {
	display: flex;
	align-items: center;
}

header img {
	transform: scale(1.3, 1.3);
}

header span {
	font-family: "Raleway", sans-serif;
	font-size: 1.2rem; /*height of 2rem just doesn't seem right*/
}

header span.bold {
	margin-left: 0.4rem;
	font-weight: 700;
	color: #9dc224;
}

header nav {
	display: flex;
	align-items: center;
}

header nav a {
	padding-left: 1rem;
}

header nav a:first-child {
	padding-left: 0;
}

header nav.mobile {
	display: none;
}

@media only screen and (max-width: 480px) {

	header .logo,
	header nav.desktop {
		display: none;
	}

	header img {
		transform: scale(1, 1);
	}

	header nav.mobile {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

/* ENROLL SECTION */

#enroll .container {
	display: flex;
	align-items: center;
	background-color: #2a2a2a;	/*background-color: #d8d8d8;*/
}

#enroll .container img {
	box-sizing: border-box;
	width: 60%;
	padding: 2rem 1.5rem;
}

#enroll .banner {
	display: flex;
	flex-direction: column;
	padding: 0 3rem;
	color: #4b4b4b;
}

#enroll h1 {
	font-family: "Roboto";
	font-size: 2.15rem;
	line-height: 1.2;
	font-weight: 700;
	color: white;
}

#enroll h2 {
	font-family: "Raleway";
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: 400;
	margin-top: 1.5rem;
	color: white;
	opacity: .7;
}

#enroll .banner-button {
	width: 80%;
	margin-top: 2rem;
	text-align: center;
	background-color: #e31330;
	color: white;
	padding: 0.75rem 0; /* 0.5rem didn't seem right */
	transition: background-color .2s linear;
}

#enroll .banner-button:hover {
	background-color: white;
	color: #2a2a2a;
}

@media only screen and (max-width: 480px) {
	
	#enroll .container {
		flex-direction: column;
	}

	#enroll .container img {
		width: 100%;
		padding: 0;
	}

	#enroll .banner {
		padding: 2rem 1rem;
	}
	
	#enroll .banner-button {
		width: 100%;
	}
}

/* GENERAL SECTION */

#general .container {
	display: flex;
	align-content: center;
	background-color: #f3f5f5;
}

#general .container .image-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 60%;
	padding: 2rem 1.5rem;
}

#general .image-container img {
	width: 100%;
}

#general img.mob {
	display: none;
}

#general .image-container h3 {
	font-family: "Roboto";
	font-size: 1.8rem;
	line-height: 1.2;
	font-weight: 700;
	margin-top: 2rem;
	color: #4b4b4b;
}

#general .image-container span {
	font-family: "Raleway";
	font-size: 0.85rem;
	line-height: 1.4;
	margin-top: 1.5rem;
	color: #4b4b4b;
}

#general .image-container span.small {
	font-size: 0.7rem;
	margin-top: 2.15rem;
}

#general .articles {
	width: 40%;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #e2e4e4;
	padding: 2rem 0;
}

#general .single-article {
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
}

#general .single-article:first-child {
	padding: 0 1rem 1rem 1rem;
	border-bottom: 3px solid #e2e4e4;
}

#general .single-article:last-child {
	background-color: #d8d8d8;
}

#general .single-article img {
	width: 36.8%;
}

#general .text-content {
	margin-left: 1rem;
}

#general .single-article h5 {
	font-family: "Roboto";
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: bold;
	color: #4b4b4b;
}

#general .text-content span {
	display: block;
	font-family: "Raleway";
	color: #4b4b4b;
	font-size: 0.8rem;
	margin: 0.5rem 0;
	line-height: 1.4;
}

#general .text-content a {
	color: #e31330;
	font-weight: 700;
	font-size: 0.85rem;
}

@media only screen and (max-width: 480px) {

	#general .container .image-container {
		display: none;
	}
	
	#general .articles {
		width: 100%;
		padding: 1rem 1rem;
	}

	#general .single-article {
		flex-direction: column;
		padding: 0 0 2rem 0;
	}

	#general .single-article:first-child {
		padding: 0 0 2rem 0;
		border-bottom: none;
	}

	#general .single-article:last-child {
		padding: 0 0 1rem 0;
		background-color: #f3f5f5;
	}

	#general .single-article img {
		width: 100%;
	}

	#general img.desk {
		display: none;
	}

	#general img.mob {
		display: block;
	}

	#general .text-content {
		width: 100%;
		padding: 1rem 1rem 0 1rem;
	}
}

/* COURSES SECTION */

#courses .container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #8daa2c;
}

#courses .container h3 {
	font-family: "Roboto";
	font-size: 1.8rem;
	font-weight: 700;
	color: #edf5d6;
	padding-top: 2rem;
}

#courses .wrapper {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1rem 4rem 2rem 4rem;
}

#courses .single-course {
	display: flex;
	flex-direction: column;
	background-color: #edf5d3;
	width: 31.5%;
	margin: 1rem 0.5rem 0 0.5rem;
	padding-bottom: 1.5rem;
}

#courses .single-course img {
	max-width: 100%;
}

#courses .single-course h5 {
	font-family: "Roboto";
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: bold;
	color: #4b4b4b;
	padding: 1rem 1rem 0.5rem 1rem;
}

#courses .single-course span {
	display: block;
	padding: 0.5rem 1rem 0 1rem;
	font-family: "Raleway";
	color: #4b4b4b;
	font-size: 0.9rem;
	line-height: 1.4;
}

@media only screen and (max-width: 480px) {

	#courses .container {
		padding: 2rem 1rem 1.5rem 1rem;
	}

	#courses .container h3 {
		padding: 0rem 0rem 2rem 0rem;
	}

	#courses .wrapper {
		margin: 0rem 0rem 0rem 0rem;
	}

	#courses .single-course {
		width: 100%;
		margin: 0rem 0rem 0.5rem 0rem;
		padding: 0;
	}

	#courses .single-course img,
	#courses .single-course span {
		display: none;
	}

	#courses .single-course h5 {
		padding: 1rem 1rem 1rem 1rem;
	}
}

/* THESIS SECTION */

#thesis .container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f3f5f5;
}

#thesis .container h3 {
	font-family: "Roboto";
	font-size: 1.8rem;
	font-weight: 700;
	color: #4b4b4b;
	padding-top: 2rem;
}

#thesis .wrapper {
	display: flex;
	flex-direction: row;
}

#thesis .container .video-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 60%;
	padding: 2rem 1.5rem;
}

#thesis .video-container video {
	width: 100%;
	margin-bottom: 1.5rem;
}

#thesis .video-container span {
	font-family: "Raleway";
	font-size: 0.85rem;
	line-height: 1.4;
	margin-top: 1.5rem;
	color: #4b4b4b;
}

#thesis .articles {
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
}

#thesis .single-article {
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
}

#thesis .single-article:first-child {
	padding: 1rem;
	background-color: #d8d8d8;
}

#thesis .single-article img {
	width: 36.8%;
}

#thesis .text-content {
	margin-left: 1rem;
}

#thesis h5 {
	font-family: "Roboto";
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: bold;
	color: #4b4b4b;
}

#thesis .text-content span {
	display: block;
	font-family: "Raleway";
	color: #4b4b4b;
	font-size: 0.8rem;
	margin: 0.5rem 0;
	line-height: 1.4;
}

@media only screen and (max-width: 480px) {

	#thesis .container h3 {
		padding: 2rem 0 2rem 0;
	}

	#thesis .container .video-container {
		max-width: 100%;
		padding: 0rem 0rem;
	}

	#thesis .video-container video {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	#thesis .video-container span,
	#thesis .articles,
	#thesis h5 {
		display: none;
	}
}

/* FOOTER SECTION */

footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #d8d8d8;
	padding: 1rem 1.5rem;
	border-top: 1px solid lightgrey;
	font-size: 0.75rem;
	color: #4b4b4b;
}

footer a {
	color: #4b4b4b;
	padding-left: 1rem;
	border-left: 1rem solid #e31330;
	transition: border .2s linear;
}

footer a:hover {
	border-left: 1rem solid white;
}

footer div a:last-child {
	margin-left: 1rem;
}

@media only screen and (max-width: 480px) {

	footer .container {
		font-size: 0.75rem;
	}

	footer a {
		display: none;
	}
}